@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
  --primary-1: #FFF1E6;
  --primary-2: #726168;
  --primary-1-alt: #FFE8D6;
  --primary-2-alt: #806C74;
  --accent-1: #99B9BF;
  --accent-2: #96c0b7;
  --accent-3: #8FBFAD;
  --neutral-1: #3B4252;
}

html,
body,
div,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Jost', Helvetica, Arial, sans-serif;
}

.display-none {
  display: none;
}

.opacity-none {
  opacity: 0;
  transition: all 0.3s ease;
}

.main {
  width: 500px;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 25px 1fr 25px;
  margin: 50px auto;
  display: grid;
  border-radius: 8px;
  background-color: #eddcd2;
  color: var(--neutral-1);
}

#start-menu {
  grid-area: 1 / 1 / span all / span all;
  z-index: 1;
  padding: 50px;
}

.game-modes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

form#player-names {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-row {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 12px;
}

label {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}

.input-row input[type="text"] {
  width: 170px;
  font-family: inherit;
  line-height: 1.3rem;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid black;
}

.game {
  grid-area: 2 / 2 / span 1 / span 1;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  /* transition: all 0.3s ease; */
  /* border: 1px solid black; */
}

.user-interface {
  display: flex;
  font-size: 1.3rem;
}

.btn {
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 500;
  border-radius: 8px;
  background-color: var(--primary-1);
  border: 1px solid var(--primary-1);
  color: var(--primary-2);
  padding: 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  border-radius: 12px;
  transition: all 0.2s ease;
  filter: brightness(0.75);
}

#ui-top {
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
}

.game-tile.valid:active {
  opacity: 0.8;
  transition: opacity 0.1s ease;
}

#game-message {
  height: 40px;
  margin-top: 10px;
  flex-basis: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-card {
  font-size: 1.4rem;
  padding: 5px 12px;
  border-radius: 12px;
  font-weight: 00;
  width: 45%;
  display: flex;
  background-color: #B4A7AC;
  color: #3B4252;
  align-content: center;
  justify-content: space-between;
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-username {
  align-self: center;
}

.card-mark {
  font-size: 1.6rem;
  font-weight: 700;
}

#ui-bottom {
  width: 300px;
  margin-top: 20px;
  justify-content: space-between;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 15px;
}

.game-tile {
  user-select: none;
  border-radius: 12px;
  background-color: var(--primary-2-alt);
  color: var(--primary-2-alt);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  transition: all 0.5s ease;
}

.p1-mark {
  color: var(--primary-1-alt);
  transition: color 0.3s ease;
}

.p2-mark {
  color: #332B2F;
  transition: color 0.3s ease;
}

.row-win {
  background-color: var(--accent-2);
  color: #56756E;
  transition: all 0.5s ease;
}

.board-draw {
  filter: brightness(0.7);
  transition: all 0.5s ease;
}

.active-turn {
  transition: all 0.2s ease;
  background-color: var(--accent-1);
  color: var(--primary-1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}