@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html,
body,
div,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Jost', Helvetica, Arial, sans-serif;
}

.hidden {
  display: none;
}

.main {
  width: 500px;
  height: 500px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 50px auto;
  display: grid;
}

#start-menu {
  grid-area: 1 / 1;
  z-index: 1;
  padding: 50px;
  background-color: #fff;
}

.game-modes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

form#player-names {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: honeydew; */
}

.menu-btn {
  padding: 5px 10px;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid black;
}

.input-row {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 12px;
}

label {
  display: flex;
  justify-content: flex-end;
  width: 75px;
}

.input-row input[type="text"] {
  width: 170px;
  font-family: inherit;
  line-height: 1.3rem;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid black;
}

.input-disabled {
  opacity: 0.2;
}

.game {
  grid-area: 1 / 1;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  /* border: 1px solid black; */
}

.user-interface {
  display: flex;
  font-size: 1.3rem;
}

#ui-top {
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
}

#game-message {
  height: 30px;
  margin-top: 10px;
  flex-basis: 100%;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-card {
  padding: 5px 12px;
  border-radius: 12px;
  width: 45%;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

#ui-bottom {
  width: 250px;
  justify-content: space-between;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 6px;
}

.game-tile {
  user-select: none;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 2rem;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

.game-btn {
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid black;
  padding: 4px 10px;
}

.row-win {
  color: red;
}

.board-draw {
  color: gray;
}

.active-turn {
  background-color: #88C0D0;
  border: 1px solid #88C0D0;
  color: #2E3440;
}